{{this.servicioListado.jugadas | json}}

<h3 class="first">Listado de Resultados</h3>
<p-table [columns]="cols" [value]="this.servicioListado.jugadas">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jugada>
        <tr>
            <td>{{jugada.id_jugador}}</td>
            <td>{{jugada.nombre_juego}}</td>
            <td>{{jugada.gano | gano}}</td>
            <td>{{jugada.fecha}}</td>
        </tr>
    </ng-template>
</p-table>