<mat-card style="text-align: center"> 
  <mat-card-title>{{nuevoJuego.nombre}}!</mat-card-title>
  <div *ngIf="!ocultarJuego">
    <h1 [style.color]="fondo">{{texto}}</h1>
    
    <h2>El texto corresponde al color?:</h2>
    <div>
      <button mat-raised-button color="primary" [ngStyle]='btn("si")' (click)="verificar(true)" [disabled]="!habilitarEleccion">SI</button>
      <button mat-raised-button color="primary" [ngStyle]='btn("no")' (click)="verificar(false)" [disabled]="!habilitarEleccion">NO</button>
    </div>
    <p>
      <strong>Tiempo: {{temporizador}}</strong>
    </p>

  </div>

  <h3 id="msj" *ngIf="mensajes">{{mensajes}}</h3>

  <div *ngIf="!ocultarComenzar">
      <button mat-raised-button color="primary" (click)="generarColores()">Nuevo Juego</button>
  </div>
</mat-card>