<mat-card style="text-align: center">  
  <mat-card-title>{{nuevoJuego.nombre}}!</mat-card-title>
  
  <div *ngIf="contador > -1">
    <h3>Ingresá el número que creas que elegí:</h3>
    <mat-form-field>
      <input matInput [(ngModel)]="this.nuevoJuego.numeroIngresado" type="number">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="verificar()" [disabled]="nuevaPartida">Verificar</button>
  </div>
  
  <div *ngIf="nuevaPartida">
    <button mat-raised-button color="primary"(click)="generarNumero()">Nuevo Juego</button>
  </div>
    
  <p id="msj" *ngIf="mensajes">{{mensajes}}</p>
  
  <p id="ayudante" *ngIf="ayudas" class="unaAnimacion">{{ayudas}}</p>
</mat-card>