body{
    background: url(./assets/imagenes/game_BG.png) repeat scroll;
    background-size: 25%;
}

div.contenido{
    background-color: rgba(255, 255, 255, 0.88);
    text-align: center;
    padding: 2%;
}

#loginForm{
    padding-left: 25%; 
    padding-right: 25%;
}