<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px; text-align: center">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12" id="tituloJuego">
      <h1>{{nuevoJuego.nombre}}!</h1>
    </div>
  </div>

  <div>
    
    <div *ngIf="nuevaPartida">
      <h2>Elige:</h2>
      <div>
        <img (click)="jugar(0)" src="./assets/imagenes/piedra.png" alt="" width=130>
        <img (click)="jugar(1)" src="./assets/imagenes/papel.png" alt="" width=130>
        <img (click)="jugar(2)" src="./assets/imagenes/tijera.png" alt="" width=130>
      </div>
    </div>

    <div *ngIf="!nuevaPartida">
      <div>
        <button mat-raised-button (click)="empezar()" mat-button color="primary">Nuevo Juego</button>
      </div>

      <h2>Yo:</h2>
      <div [ngSwitch]="nuevoJuego.elementoIngresado">
        <img *ngSwitchCase="0" src="./assets/imagenes/piedra.png" alt="" width=130>
        <img *ngSwitchCase="1" src="./assets/imagenes/papel.png" alt="" width=130>
        <img *ngSwitchCase="2" src="./assets/imagenes/tijera.png" alt="" width=130>
      </div>
      
      <div>
        <h2>Maquina:</h2>
        <div [ngSwitch]="nuevoJuego.elementoSecreto" >
          <img *ngSwitchCase="0" src="./assets/imagenes/piedra.png" alt="" width=130>
          <img *ngSwitchCase="1" src="./assets/imagenes/papel.png" alt="" width=130>
          <img *ngSwitchCase="2" src="./assets/imagenes/tijera.png" alt="" width=130>
        </div>
      </div>
      
      <div class="ui-grid-col-12">
        <h3>{{mensajes}}</h3>
      </div>
      
    </div>
  </div>
</div>