<mat-card style="text-align: center">  
  <mat-card-title>{{nuevoJuego.nombre}}!</mat-card-title>

  <mat-card-content>
    <div *ngIf="!ocultarVerificar">
      <p>Palabra desordenada: <strong>{{nuevoJuego.palabraDesordenada}}</strong></p>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="nuevoJuego.palabraIngresada" placeholder="Palabra ordenada" name="palabraOrdenadaa">
      </mat-form-field>
      <button mat-raised-button *ngIf="nuevoJuego.esperando!=0" (click)="verificar()" color="primary">Verificar {{temporizador}}</button>
    </div>
    
    <div *ngIf="!ocultarComenzar">
      <button mat-raised-button *ngIf="nuevoJuego.palabraDesordenada!=null " (click)="generarPalabra()" color="primary">Nuevo Juego</button>
    </div>
    
    <div *ngIf="!ocultarMsj">
      <h2 *ngIf="nuevoJuego.gano">Ganaste!</h2>
      <h2 *ngIf="!nuevoJuego.gano">Perdiste...</h2>
    </div>
  </mat-card-content>
</mat-card>